<%@ Reference Control="~/controles/usrcliederiv.ascx" %>
<%@ Reference Page="~/FormGenerico.aspx" %>
<%@ Page Language="vb" AutoEventWireup="false" Inherits="SRA.BloqueoDevengamiento" CodeFile="BloqueoDevengamiento.aspx.vb" %>
<%@ Register TagPrefix="cc1" Namespace="NixorControls" Assembly="NixorControls" %>
<%@ Register TagPrefix="uc1" TagName="CLIE" Src="controles/usrClieDeriv.ascx" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Bloqueo de devengamiento</title>
		<meta content="Microsoft Visual Studio 7.0" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultgrupntScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<LINK href="stylesheet/sra.css" type="text/css" rel="stylesheet">
		<script language="JavaScript" src="includes/utiles.js"></script>
		<script language="JavaScript" src="includes/paneles.js"></script>
		<script language="JavaScript">
		function usrSoci_onchange()
		{
			if(document.all("usrSoci:txtId").value=='')
			{
				document.all('lblFechaAnterior').innerHTML = '';
				document.all('lblCategoriaAnterior').innerHTML = '';
			}
			else
			{
				var sFiltro = document.all("usrSoci:txtId").value;
				var vsRet;
				vsRet = EjecutarMetodoXML("Utiles.DatosCateSocio", sFiltro).split(";");
				document.all('lblFechaAnterior').innerHTML = vsRet[0];
				document.all('lblCategoriaAnterior').innerHTML = vsRet[1];
			}
		}
		function expandir()
		{
			try{ parent.frames("menu").CambiarExp();}catch(e){;}
		}
		function btnHisto_click()
		{
			var lstrPagina = "SociMovimConsul.aspx?tipo=" + document.all("hdnTipo").value + "&soci_id=" + document.all("hdnId").value;
			Ventana = window.open (lstrPagina, "", "location=no,menubar=no,scrollbars=yes,status=yes,titlebar=no,toolbar=no,width=300px,height=300px");
		}
		</script>
	</HEAD>
	<BODY class="pagina" leftMargin="5" topMargin="5" onload="javascript:gSetearTituloFrame();"
		rightMargin="0">
		<form id="frmABM" method="post" runat="server">
			<!------------------ RECUADRO ------------------->
			<table cellSpacing="0" cellPadding="0" width="97%" align="center" border="0">
				<tr>
					<td width="9"><IMG height="10" src="imagenes/recsupiz.jpg" width="9" border="0"></td>
					<td background="imagenes/recsup.jpg"><IMG height="10" src="imagenes/recsup.jpg" width="9" border="0"></td>
					<td width="13"><IMG height="10" src="imagenes/recsupde.jpg" width="13" border="0"></td>
				</tr>
				<tr>
					<td width="9" background="imagenes/reciz.jpg"><IMG height="10" src="imagenes/reciz.jpg" width="9" border="0"></td>
					<td vAlign="middle" align="center">
						<!----- CONTENIDO ----->
						<TABLE id="Table1" style="WIDTH: 100%; HEIGHT: 130px" cellSpacing="0" cellPadding="0" border="0">
							<TR>
								<TD width="100%" colSpan="3"></TD>
							</TR>
							<TR>
								<TD style="HEIGHT: 25px" vAlign="bottom" colSpan="3" height="25"><asp:label id="lblTituAbm" runat="server" cssclass="opcion"> Bloqueo de devengamiento</asp:label></TD>
							</TR>
							<TR>
								<TD vAlign="top" colSpan="3"><asp:panel id="panFiltro" runat="server" cssclass="titulo" BorderStyle="Solid" Width="100%"
										BorderWidth="0" Visible="True">
										<TABLE id="TableFil" style="WIDTH: 100%" cellSpacing="0" cellPadding="0" align="left" border="0">
											<TR>
												<TD style="WIDTH: 100%">
													<TABLE id="Table4" cellSpacing="0" cellPadding="0" width="100%" border="0">
														<TR>
															<TD style="HEIGHT: 8px" width="24"></TD>
															<TD style="HEIGHT: 8px" width="42"></TD>
															<TD style="HEIGHT: 8px" width="26"></TD>
															<TD style="HEIGHT: 8px"></TD>
															<TD style="HEIGHT: 8px" width="26">
																<CC1:BotonImagen id="btnBusc" runat="server" BorderStyle="None" ForeColor="Transparent" IncludesUrl="includes/"
																	ImagesUrl="imagenes/" CambiaValor="False" OutImage="del.gif" BtnImage="edit.gif" ImageBoton="btnCons.gif"
																	ImageOver="btnCons2.gif" BackColor="Transparent" ImageUrl="imagenes/btnImpr.jpg"></CC1:BotonImagen></TD>
															<TD style="HEIGHT: 8px" width="26">
																<CC1:BotonImagen id="btnLimpiarFil" runat="server" BorderStyle="None" ForeColor="Transparent" IncludesUrl="includes/"
																	ImagesUrl="imagenes/" CambiaValor="False" OutImage="del.gif" BtnImage="edit.gif" ImageBoton="btnLimp.gif"
																	ImageOver="btnLimp2.gif" BackColor="Transparent" ImageUrl="imagenes/limpiar.jpg"></CC1:BotonImagen></TD>
														</TR>
														<TR>
															<TD style="HEIGHT: 8px" width="24"><IMG height="25" src="imagenes/formfle.jpg" width="24" border="0"></TD>
															<TD style="HEIGHT: 8px" width="42"><IMG height="25" src="imagenes/formtxfiltro.jpg" width="113" border="0"></TD>
															<TD style="HEIGHT: 8px" width="26"><IMG height="25" src="imagenes/formcap.jpg" width="26" border="0"></TD>
															<TD style="HEIGHT: 8px" background="imagenes/formfdocap.jpg" colSpan="3"><IMG height="25" src="imagenes/formfdocap.jpg" width="7" border="0"></TD>
														</TR>
													</TABLE>
												</TD>
											</TR>
											<TR>
												<TD>
													<TABLE id="Table5" cellSpacing="0" cellPadding="0" width="100%" border="0">
														<TR>
															<TD width="3" background="imagenes/formiz.jpg"><IMG height="30" src="imagenes/formiz.jpg" width="3" border="0"></TD>
															<TD><!-- FOMULARIO -->
																<TABLE id="Table6" cellSpacing="0" cellPadding="0" width="100%" border="0">
																	<TR>
																		<TD style="HEIGHT: 10px" align="right" background="imagenes/formfdofields.jpg" colSpan="2"></TD>
																	</TR>
																	<TR>
																		<TD style="WIDTH: 10%; HEIGHT: 10px" align="right" background="imagenes/formfdofields.jpg">
																			<asp:Label id="lblSocioFil" runat="server" cssclass="titulo">Socio:</asp:Label>&nbsp;</TD>
																		<TD style="WIDTH: 90%; HEIGHT: 17px" background="imagenes/formfdofields.jpg">
																			<UC1:CLIE id="usrSocioFil" runat="server" AceptaNull="false" Ancho="800" FilTipo="S" Tabla="Socios"
																				Saltos="1,2" FilSociNume="True" MuestraDesc="False" FilDocuNume="True"></UC1:CLIE></TD>
																	</TR>
																	<TR>
																		<TD align="right" background="imagenes/formdivmed.jpg" colSpan="2" height="2"><IMG height="2" src="imagenes/formdivmed.jpg" width="1"></TD>
																	</TR>
																	<TR>
																		<TD style="WIDTH: 10%; HEIGHT: 10px" align="right" background="imagenes/formfdofields.jpg">
																			<asp:Label id="lblClieFil" runat="server" cssclass="titulo">Cliente:</asp:Label>&nbsp;</TD>
																		<TD style="WIDTH: 90%; HEIGHT: 17px" background="imagenes/formfdofields.jpg">
																			<UC1:CLIE id="usrClieFil" runat="server" AceptaNull="false" Ancho="800" FilTipo="S" Tabla="Clientes"
																				Saltos="1,2" FilSociNume="True" MuestraDesc="False" FilDocuNume="True"></UC1:CLIE></TD>
																	</TR>
																	<TR>
																		<TD align="right" background="imagenes/formdivmed.jpg" colSpan="2" height="2"><IMG height="2" src="imagenes/formdivmed.jpg" width="1"></TD>
																	</TR>
																	<TR>
																		<TD style="WIDTH: 10%; HEIGHT: 10px" align="right" background="imagenes/formfdofields.jpg">
																		<TD style="WIDTH: 90%; HEIGHT: 17px" background="imagenes/formfdofields.jpg">
																			<asp:checkbox id="chkBaja" Runat="server" CssClass="titulo" Text="Incluir Dados de Baja"></asp:checkbox></TD>
																	</TR>
																	<TR>
																		<TD style="HEIGHT: 10px" align="right" background="imagenes/formfdofields.jpg" colSpan="2"></TD>
																	</TR>
																</TABLE>
															</TD>
															<TD width="2" background="imagenes/formde.jpg"><IMG height="2" src="imagenes/formde.jpg" width="2" border="0"></TD>
														</TR>
													</TABLE>
												</TD>
											<TR>
												<TD align="right">
													<CC1:BotonImagen id="btnList" runat="server" BorderStyle="None" ForeColor="Transparent" IncludesUrl="includes/"
														ImagesUrl="imagenes/" CambiaValor="False" OutImage="del.gif" BtnImage="edit.gif" ImageBoton="btnImpr.gif"
														ImageOver="btnImpr2.gif" BackColor="Transparent" ImageUrl="imagenes/"></CC1:BotonImagen>
												<TD width="2"></TD>
											</TR>
						</TABLE>
						</asp:panel></td>
				</tr>
				<TR>
					<TD colSpan="3" height="10"></TD>
				</TR>
				<TR>
					<TD vAlign="top" align="center" colSpan="3"><asp:datagrid id="grdDato" runat="server" BorderStyle="None" BorderWidth="1px" AllowPaging="True"
							HorizontalAlign="Center" CellSpacing="1" GridLines="None" CellPadding="1" AutoGenerateColumns="False" OnUpdateCommand="mEditarDatos"
							OnPageIndexChanged="DataGrid_Page" width="100%">
							<AlternatingItemStyle CssClass="item"></AlternatingItemStyle>
							<ItemStyle Height="5px" CssClass="item2"></ItemStyle>
							<HeaderStyle Height="20px" CssClass="header"></HeaderStyle>
							<FooterStyle CssClass="footer"></FooterStyle>
							<Columns>
								<asp:TemplateColumn>
									<ItemTemplate>
										<asp:LinkButton id="LinkButton1" runat="server" Text="Editar" CausesValidation="false" CommandName="Update">
											<img src='images/edit.gif' border="0" alt="Editar Registro" style="cursor:hand;" />
										</asp:LinkButton>
									</ItemTemplate>
								</asp:TemplateColumn>
								<asp:BoundColumn Visible="False" DataField="soci_id" HeaderText="soci_id">
									<HeaderStyle Width="2%"></HeaderStyle>
								</asp:BoundColumn>
								<asp:BoundColumn DataField="soci_nume" HeaderText="Nro.Socio">
									<HeaderStyle Width="13%"></HeaderStyle>
								</asp:BoundColumn>
								<asp:BoundColumn DataField="_clie_apel" HeaderText="Apellido">
									<HeaderStyle Width="70%"></HeaderStyle>
								</asp:BoundColumn>
								<asp:BoundColumn DataField="_soci_bloq_deve_fecha" HeaderText="Fecha" DataFormatString="{0:dd/MM/yyyy}">
									<HeaderStyle Width="15%"></HeaderStyle>
								</asp:BoundColumn>
							</Columns>
							<PagerStyle Font-Size="X-Small" HorizontalAlign="Right" CssClass="pager" Mode="NumericPages"></PagerStyle>
						</asp:datagrid></TD>
				</TR>
				<TR>
					<TD vAlign="top" align="left" colSpan="3"><CC1:BOTONIMAGEN id="btnAgre" runat="server" BorderStyle="None" ForeColor="Transparent" IncludesUrl="includes/"
							ImagesUrl="imagenes/" CambiaValor="False" OutImage="del.gif" BtnImage="edit.gif" ImageBoton="btnNuev.gif" ImageOver="btnNuev2.gif" BackColor="Transparent"
							ImageUrl="imagenes/btnImpr.jpg" ToolTip="Agregar una Nueva Solicitud" ImageDisable="btnNuev0.gif"></CC1:BOTONIMAGEN></TD>
				</TR>
				<TR>
					<TD colSpan="3" height="10"></TD>
				</TR>
				<TR>
					<TD align="center" colSpan="3"><a name="editar"></a>
						<DIV><asp:panel id="panDato" runat="server" cssclass="titulo" BorderStyle="Solid" BorderWidth="1px"
								Visible="False" width="100%" Height="116px">
								<P align="right">
									<TABLE class="FdoFld" id="Table2" style="WIDTH: 100%; HEIGHT: 106px" cellPadding="0" align="left"
										border="0">
										<TR>
											<TD>
												<P></P>
											</TD>
											<TD width="50%" height="5">
												<asp:Label id="lblTitu" runat="server" cssclass="titulo" width="100%"></asp:Label></TD>
											<TD vAlign="top" align="right" width="50%">&nbsp;
												<asp:ImageButton id="imgClose" runat="server" ImageUrl="images\Close.bmp" ToolTip="Cerrar" CausesValidation="False"></asp:ImageButton></TD>
										</TR>
										<TR>
											<TD style="WIDTH: 100%" colSpan="3">
												<asp:panel id="panCabecera" runat="server" cssclass="titulo" Width="100%">
													<TABLE id="TableCabecera" style="WIDTH: 100%" cellPadding="0" align="left" border="0">
														<TR>
															<TD style="HEIGHT: 24px" align="right">
																<asp:Label id="lblNume" runat="server" cssclass="titulo">Socio:</asp:Label>&nbsp;</TD>
															<TD style="HEIGHT: 24px" align="left">
																<UC1:CLIE id="UsrSoci" runat="server" AceptaNull="false" Ancho="800" FilTipo="S" Tabla="Socios"
																	Saltos="1,2" FilSociNume="True" MuestraDesc="False" FilDocuNume="True" InclBloq="N"></UC1:CLIE></TD>
														</TR>
														<TR>
															<TD style="HEIGHT: 1px" align="right" background="imagenes/formdivmed.jpg" colSpan="4"
																height="1"><IMG height="2" src="imagenes/formdivmed.jpg" width="1"></TD>
														</TR>
														<TR>
															<TD noWrap align="right">
																<asp:Label id="lblFecha" runat="server" cssclass="titulo">Fecha:</asp:Label>&nbsp;
															</TD>
															<TD noWrap align="left">
																<cc1:DateBox id="txtFecha" runat="server" cssclass="cuadrotexto" Width="70px" AceptaNull="False"
																	Obligatorio="False"></cc1:DateBox></TD>
														</TR>
													</TABLE>
												</asp:panel></TD>
										</TR>
										<TR>
											<TD vAlign="middle" align="center" colSpan="3" height="40">&nbsp;&nbsp;&nbsp;
												<asp:Button id="btnModi" runat="server" cssclass="boton" Width="89px" Text="Modificar" CausesValidation="False"></asp:Button>&nbsp;&nbsp;
											</TD>
										</TR>
									</TABLE>
								</P>
							</asp:panel></DIV>
					</TD>
				</TR>
			</table>
			<!--- FIN CONTENIDO ---> </td>
			<td width="13" background="imagenes/recde.jpg"><IMG height="10" src="imagenes/recde.jpg" width="13" border="0"></td>
			</tr>
			<tr>
				<td width="9"><IMG height="15" src="imagenes/recinfiz.jpg" width="9" border="0"></td>
				<td background="imagenes/recinf.jpg"><IMG height="15" src="imagenes/recinf.jpg" width="13" border="0"></td>
				<td width="13"><IMG height="15" src="imagenes/recinfde.jpg" width="13" border="0"></td>
			</tr>
			</table> 
			<!----------------- FIN RECUADRO ----------------->
			<DIV style="DISPLAY: none"><ASP:TEXTBOX id="lblMens" runat="server"></ASP:TEXTBOX><asp:textbox id="hdnId" runat="server"></asp:textbox></DIV>
		</form>
		<SCRIPT language="javascript">
		if (document.all["editar"]!= null && document.all["panDato"]!= null)
			document.location='#editar';
		if (document.all["txtDesc"]!= null)
			document.all["txtDesc"].focus();
		</SCRIPT>
	</BODY>
</HTML>
