<%@ Page %>
<html>
<head>
</head>
<body topmargin=3 bottommargin=0 bgcolor=AliceBlue> 
<TABLE style="WIDTH: 100%" cellSpacing="0" cellPadding="0" border=0>
<TR>
<TD><img src="<%=System.Configuration.ConfigurationSettings.AppSettings("conLogoHead").ToString%>" height=20></td>
<TD align="right"><A href="javascript:volver();" runat="server"><IMG alt="Ir a Inicio" src="imagenes/fleup.gif" border="0"></A></TD>
</TR>
</TABLE>
</body>
</html>
<script>
function volver(){
parent.frames('main').window.location.href='main.aspx';
parent.frames('menu').window.location.href='menu.aspx';
parent.document.all(6).cols="160,*";
window.parent.document.title = "";
}
</script>