<%@ Reference Page="~/FormGenerico.aspx" %>
<%@ Page Language="vb" AutoEventWireup="false" Inherits="SRA.main" CodeFile="main.aspx.vb" %>
<HTML>
  <HEAD>
    <title>Inicio</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
    <LINK href="stylesheet/SRA.css" type="text/css" rel="stylesheet">
    <script language="JavaScript" src="includes/utiles.js"></script>
</HEAD>
  <body topmargin=0 style=  "BACKGROUND-POSITION: center center; BACKGROUND-IMAGE: url(<%=System.Configuration.ConfigurationSettings.AppSettings("conLogoMain").ToString%>); BACKGROUND-REPEAT: no-repeat">
    <form id="Form1" method="post" runat="server" >
     </form>
  </body>
</HTML>
