<%--<%@ Page Language="vb" AutoEventWireup="false" Codebehind="MotivosBaja.aspx.vb" Inherits="SRA.MotivosBaja"%>--%>
<%@ Page Language="VB" AutoEventWireup="false" CodeFile="~/MotivosBaja.aspx.vb" Inherits="MotivosBaja" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>MotivosBaja</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
  <body MS_POSITIONING="GridLayout">

    <form id="Form1" method="post" runat="server">

    </form>

  </body>
</html>
