<%@ Reference Page="~/FormGenerico.aspx" %>
<%@ Page Language="vb" AutoEventWireup="false" Inherits="SRA.permi" CodeFile="permi.aspx.vb" %>
<%@ Register TagPrefix="cc1" Namespace="NixorControls" Assembly="NixorControls" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Asignación de Permisos</title>
		<meta content="Microsoft Visual Studio 7.0" name="GENERATOR">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<LINK href="stylesheet/SRA.css" type="text/css" rel="stylesheet">
		<script language="JavaScript" src="includes/utiles.js"></script>
	</HEAD>
	<body onload="javascript:gSetearTituloFrame();" class="pagina" leftMargin="5" topMargin="5"
		rightMargin="0">
		<form id="frmABM" method="post" runat="server">
		<!------------------ RECUADRO ------------------->
			<table border="0" cellpadding="0" cellspacing="0" align="center" width=97%>
			<tr>
				<td width="9"><img src="imagenes/recsupiz.jpg" border="0" WIDTH="9" HEIGHT="10"></td>
				<td background="imagenes/recsup.jpg"><img src="imagenes/recsup.jpg" border="0" WIDTH="9" HEIGHT="10"></td>
				<td width="13"><img src="imagenes/recsupde.jpg" border="0" WIDTH="13" HEIGHT="10"></td>
			</tr>
			<tr>
				<td width="9" background="imagenes/reciz.jpg"><img src="imagenes/reciz.jpg" border="0" WIDTH="9" HEIGHT="10"></td>
				<td valign=center align=center>
					<!----- CONTENIDO ----->
			<TABLE id="TableABM" style="WIDTH: 100%" cellSpacing="1" cellPadding="1" border="0">
				<tr>
					<td width=100%>
						
					</td>
				</tr>
				<tr height="8">
					<td></td>
				</tr>
				<TR>
					<TD vAlign="bottom" height="8"><asp:label cssclass="opcion" id="lblTituAbm" runat="server" width="391px" text="Asignación de Permisos"></asp:label>
						<asp:textbox id="lblMens" runat="server" Height="2px" BorderStyle="None" BackColor="Transparent"
							Width="554px"></asp:textbox></TD>
				</TR>
			</table>
			<asp:panel cssclass="titulo" id="panDato" runat="server" width="100%" BorderStyle="Solid" BorderWidth="1px">			
			 <table id="Table" style="WIDTH: 100%" cellSpacing="1" cellPadding="1" border="0"
			  
			  	<TR>
						<TD>
						  <P align="right">
						    <TABLE  class="FdoFld" id="Table2" style="WIDTH: 100%" cellPadding="0" align="left" border="0">
								<TR>
									<TD  style="HEIGHT: 5px" vAlign="top" height="5">
										</TD>
								</TR>
								<TR >
									<TD  style="HEIGHT: 29px" vAlign="top" height="29">&nbsp;
										<asp:label cssclass="titulo" id="lblProf" runat="server"> Perfil:</asp:label>
										<cc1:combobox id="cmbProf" onkeydown="mEnterPorTab();" runat="server" Width="232px" class="combo" AutoPostBack="True"></cc1:combobox></TD>
								</TR>
								<TR>
									<TD valign=center align=center  height="20">
										<cc1:doblelista id="dblOpciones" classtitulos="titulo" runat="server" width="80%" AutoPostBack="True" TituloOri="Opciones del Sistema:" TituloDes="Permisos:"></cc1:doblelista>
									</TD>
								</TR>
							</table>	
					     </p>
					    </td>
					 </tr>
					     			
			</TABLE>
		</asp:panel>	
			<!--- FIN CONTENIDO --->
    </td>
    <td width="13" background="imagenes/recde.jpg"><img src="imagenes/recde.jpg" border="0" WIDTH="13" HEIGHT="10"></td>
  </tr>
  <tr>
    <td width="9"><img src="imagenes/recinfiz.jpg" border="0" WIDTH="9" HEIGHT="15"></td>
    <td background="imagenes/recinf.jpg"><img src="imagenes/recinf.jpg" border="0" WIDTH="13" HEIGHT="15"></td>
    <td width="13"><img src="imagenes/recinfde.jpg" border="0" WIDTH="13" HEIGHT="15"></td>
  </tr>
</table>
<!----------------- FIN RECUADRO ----------------->
		</form>
	</body>
</HTML>
