<%@ Reference Control="~/controles/usrproducto.ascx" %>
<%@ Reference Control="~/controles/usrcliederiv.ascx" %>
<%@ Reference Page="~/FormGenerico.aspx" %>
<%@ Register TagPrefix="uc1" TagName="CLIE" Src="controles/usrClieDeriv.ascx" %>
<%@ Register TagPrefix="cc1" Namespace="NixorControls" Assembly="NixorControls" %>
<%@ Register TagPrefix="uc1" TagName="PROH" Src="controles/usrProducto.ascx" %>
<%@ Page Language="vb" AutoEventWireup="false" Inherits="SRA.Prestamos" CodeFile="Prestamos.aspx.vb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Prestamos</title>
		<meta content="Microsoft Visual Studio 7.0" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultpilontScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<LINK href="stylesheet/SRA.css" type="text/css" rel="stylesheet">
		<script language="JavaScript" src="includes/utiles.js"></script>
		<script language="JavaScript" src="includes/paneles.js"></script>
		<script language="JavaScript">

		
		 function expandir()
		{
		
			try{ parent.frames("menu").CambiarExp();}catch(e){;}
		}
		
		function usrProdFil_usrCriadorFil_cmbRazaCria_onchange()
		{
			if(		document.all("txtusrProdFil:usrCriadorFil:cmbRazaCria").value!="")
			{
				document.all("txtusrCriaPrestataFil:cmbRazaCria").value= document.all("txtusrProdFil:usrCriadorFil:cmbRazaCria").value;
				document.all('usrCriaPrestataFil_cmbRazaCria').selectedIndex = document.all('usrProdFil_usrCriadorFil_cmbRazaCria').selectedIndex;	
				
			    document.all("txtusrCriaPrestaFil:cmbRazaCria").value= document.all("txtusrProdFil:usrCriadorFil:cmbRazaCria").value;
				document.all('usrCriaPrestaFil_cmbRazaCria').selectedIndex = document.all('usrProdFil_usrCriadorFil_cmbRazaCria').selectedIndex;	
				usrProdFil_onchange()
			}
		
		}
		
		function usrProdFil_cmbRazaCria_onchange()
		{
		
		}
		 function usrProdFil_onchange()
		{
			
		}
		function usrCriaPrestaFil_onchange()
		{
			if(		document.all("txtusrCriaPrestaFil:cmbRazaCria").value!="")
			{
				document.all("usrProdFil_usrCriadorFil_cmbRazaCria").value= document.all('usrCriaPrestaFil_cmbRazaCria').value;
				document.all("txtusrCriaPrestataFil:cmbRazaCria").value= document.all("txtusrCriaPrestaFil:cmbRazaCria").value;
				document.all('usrCriaPrestataFil_cmbRazaCria').selectedIndex = document.all('usrCriaPrestaFil_cmbRazaCria').selectedIndex;	
				
				document.all("usrProdFil_usrCriadorFil_cmbRazaCria").value= document.all('usrCriaPrestaFil_cmbRazaCria').value;
				document.all("txtusrProdFil:usrCriadorFil:cmbRazaCria").value= document.all("txtusrCriaPrestaFil:cmbRazaCria").value;
				document.all('usrProdFil_usrCriadorFil_cmbRazaCria').selectedIndex = document.all('usrCriaPrestaFil_cmbRazaCria').selectedIndex;	
				usrProdFil_onchange()
				
			}
		}	
		
		function usrCriaPrestataFil_onchange()
		{
			if(		document.all("txtusrCriaPrestataFil:cmbRazaCria").value!="")
			{
					
				document.all("usrProdFil_usrCriadorFil_cmbRazaCria").value= document.all('usrCriaPrestaFil_cmbRazaCria').value;
				document.all("txtusrCriaPrestaFil:cmbRazaCria").value= document.all("txtusrCriaPrestataFil:cmbRazaCria").value;
				document.all('usrCriaPrestaFil_cmbRazaCria').selectedIndex = document.all('usrCriaPrestataFil_cmbRazaCria').selectedIndex;	
				
				document.all("usrProdFil_usrCriadorFil_cmbRazaCria").value= document.all('usrCriaPrestataFil_cmbRazaCria').value;
				document.all("txtusrProdFil:usrCriadorFil:cmbRazaCria").value= document.all("txtusrCriaPrestataFil:cmbRazaCria").value;
				document.all('usrProdFil_usrCriadorFil_cmbRazaCria').selectedIndex = document.all('usrCriaPrestataFil_cmbRazaCria').selectedIndex;	
				
				usrProdFil_onchange()
			}
			
		}
		
	 
		function usrCriaPrestaId_onchange()
		{
		
		   	var lstrCria = document.all('usrCriaPresta:txtId').value;
	
			document.all('hdnCriaId').value = document.all('usrCriaPresta:txtId').value; 
			document.all("txtusrCriaPrestata:cmbRazaCria").value= document.all("txtusrCriaPresta:cmbRazaCria").value;
			document.all('usrCriaPrestata_cmbRazaCria').selectedIndex = document.all('usrCriaPresta_cmbRazaCria').selectedIndex;	
		
		}		
		function usrCriaPresta_onchange()
		 {
			document.all('hdnCriaId').value = document.all('usrCriaPresta:txtId').value;
			document.all("txtusrCriaPrestata:cmbRazaCria").value= document.all("txtusrCriaPresta:cmbRazaCria").value;
			document.all('usrCriaPrestata_cmbRazaCria').selectedIndex = document.all('usrCriaPresta_cmbRazaCria').selectedIndex;	
		  }
	     				
		function usrCriaPrestata_onchange()
		{
			var lstrCria = document.all('usrCriaPrestata:txtId').value;
			document.all("txtusrCriaPresta:cmbRazaCria").value= document.all("txtusrCriaPrestata:cmbRazaCria").value;
				document.all('usrCriaPresta_cmbRazaCria').selectedIndex = document.all('usrCriaPrestata_cmbRazaCria').selectedIndex;	
	
		
		}	
		
		function mSetearProducto()
		 {
		
	     } 
		
		function mVerErrores()
		{
			var lstrProc = '<%=mintProce%>';
			lstrId = document.all("hdnId").value;
			gAbrirVentanas("errores.aspx?EsConsul=0&titulo=Errores&tabla=prestamos_errores&proce="+lstrProc+"&id=" + lstrId, 1, "750","550","20","40");
		}
		
		
		function mDetalle()	
		{
		try 
		  {		 
		   var str = document.all("cmbTipo").value;
  		   if (str==0)
		    {
		     document.all('lnkDetalle').disabled=false;
		    }
		   else
		     document.all('lnkDetalle').disabled=false;
	       }
	        catch(e){} 
		}	
		
		</script>
	</HEAD>
	<BODY class="pagina" leftMargin="5" topMargin="5" onload="gSetearTituloFrame('')" rightMargin="0">
		<form id="frmABM" method="post" runat="server">
			<!------------------ RECUADRO -------------------> &nbsp;
			<table cellSpacing="0" cellPadding="0" width="97%" align="center" border="0">
				<TBODY>
					<tr>
						<td width="9"><IMG height="10" src="imagenes/recsupiz.jpg" width="9" border="0"></td>
						<td background="imagenes/recsup.jpg"><IMG height="10" src="imagenes/recsup.jpg" width="9" border="0"></td>
						<td width="13"><IMG height="10" src="imagenes/recsupde.jpg" width="13" border="0"></td>
					</tr>
					<tr>
						<td width="9" background="imagenes/reciz.jpg"><IMG height="10" src="imagenes/reciz.jpg" width="9" border="0"></td>
						<td vAlign="middle" align="center">
							<!----- CONTENIDO ----->
							<TABLE id="panCabecera" style="WIDTH: 100%" cellSpacing="0" cellPadding="0" border="0">
								<TBODY>
									<TR>
										<TD width="100%" colSpan="3"></TD>
									</TR>
									<TR>
										<TD style="HEIGHT: 25px" vAlign="bottom" colSpan="3" height="25"><asp:label id="lblTituAbm" runat="server" cssclass="opcion">Prestamos</asp:label></TD>
									</TR>
									<TR>
										<TD colSpan="3" height="10"></TD>
									</TR>
									<!--- filtro --->
									<TR>
										<TD vAlign="top" colSpan="3"><asp:panel id="panFiltro" runat="server" cssclass="titulo" BorderWidth="0" BorderStyle="Solid"
												Width="100%" Visible="True">
												<TABLE style="WIDTH: 100%" id="TableFil" border="0" cellSpacing="0" cellPadding="0" align="left">
													<TR>
														<TD>
															<TABLE border="0" cellSpacing="0" cellPadding="0" width="100%">
																<TR>
																	<TD style="HEIGHT: 8px" width="24"></TD>
																	<TD style="HEIGHT: 8px" width="42"></TD>
																	<TD style="HEIGHT: 8px" width="26"></TD>
																	<TD style="HEIGHT: 8px"></TD>
																	<TD style="HEIGHT: 8px" width="26">
																		<CC1:BotonImagen id="btnBuscar" runat="server" BorderStyle="None" ForeColor="Transparent" ImageOver="btnCons2.gif"
																			ImageBoton="btnCons.gif" BtnImage="edit.gif" OutImage="del.gif" CambiaValor="False" ImagesUrl="imagenes/"
																			IncludesUrl="includes/" BackColor="Transparent" ImageUrl="imagenes/btnImpr.jpg"></CC1:BotonImagen></TD>
																	<TD style="HEIGHT: 8px" width="26">
																		<CC1:BotonImagen id="btnLimpiarFil" runat="server" BorderStyle="None" ForeColor="Transparent" ImageOver="btnLimp2.gif"
																			ImageBoton="btnLimp.gif" BtnImage="edit.gif" OutImage="del.gif" CambiaValor="False" ImagesUrl="imagenes/"
																			IncludesUrl="includes/" BackColor="Transparent" ImageUrl="imagenes/limpiar.jpg"></CC1:BotonImagen></TD>
																	<TD style="HEIGHT: 8px" width="10"></TD>
																</TR>
																<TR>
																	<TD style="HEIGHT: 8px" width="24"><IMG border="0" src="imagenes/formfle.jpg" width="24" height="25"></TD>
																	<TD style="HEIGHT: 8px" width="42"><IMG border="0" src="imagenes/formtxfiltro.jpg" width="113" height="25"></TD>
																	<TD style="HEIGHT: 8px" width="26"><IMG border="0" src="imagenes/formcap.jpg" width="26" height="25"></TD>
																	<TD style="HEIGHT: 8px" background="imagenes/formfdocap.jpg" colSpan="4"><IMG border="0" src="imagenes/formfdocap.jpg" height="25"></TD>
																</TR>
															</TABLE>
														</TD>
													</TR>
													<TR>
														<TD style="HEIGHT: 50px">
															<TABLE border="0" cellSpacing="0" cellPadding="0" width="100%" height="100%">
																<TR>
																	<TD background="imagenes/formiz.jpg" width="3"><IMG border="0" src="imagenes/formiz.jpg" width="3" height="17"></TD>
																	<TD style="HEIGHT: 100%"><!-- FOMULARIO -->
																		<TABLE border="0" cellSpacing="0" cellPadding="0" width="100%" height="100%">
																			<TR>
																				<TD style="HEIGHT: 10px" background="imagenes/formfdofields.jpg" colSpan="2" align="right"></TD>
																			</TR>
																			<TR>
																				<TD background="imagenes/formfdofields.jpg" align="right">
																					<asp:Label id="lblFechaDesdeFil" runat="server" cssclass="titulo">Fecha Desde:</asp:Label>&nbsp;</TD>
																				<TD style="HEIGHT: 17px" background="imagenes/formfdofields.jpg">
																					<cc1:DateBox id="txtFechaDesdeFil" runat="server" cssclass="cuadrotexto" Width="68px"></cc1:DateBox>&nbsp;&nbsp;
																					<asp:Label id="lblFechaHastaFil" runat="server" cssclass="titulo">Hasta:</asp:Label>&nbsp;
																					<cc1:DateBox id="txtFechaHastaFil" runat="server" cssclass="cuadrotexto" Width="68px"></cc1:DateBox></TD>
																			</TR>
																			<TR>
																				<TD height="2" background="imagenes/formdivmed.jpg" colSpan="2" align="right"></TD>
																			</TR>
																			<TR>
																				<TD background="imagenes/formfdofields.jpg" align="right">
																					<asp:Label id="lblEstadoPrestmoFil" runat="server" cssclass="titulo">Estado del Prestamo:</asp:Label>&nbsp;</TD>
																				<TD vAlign="middle" background="imagenes/formfdofields.jpg">
																					<cc1:combobox id="cmbEstadoFil" class="combo" runat="server" Width="200px" AceptaNull="False"
																						NomOper="estados_cargar"></cc1:combobox></TD>
																			</TR>
																			<TR>
																				<TD style="WIDTH: 20%; HEIGHT: 30px" vAlign="middle" background="imagenes/formfdofields.jpg"
																					align="right">
																					<asp:Label id="lblTipoFil" runat="server" cssclass="titulo">Tipo:</asp:Label>&nbsp;</TD>
																				<TD vAlign="middle" background="imagenes/formfdofields.jpg">
																					<cc1:combobox id="cmbTipoFil" class="combo" runat="server" Width="208px" AceptaNull="False" Obligatorio="true"
																						AutoPostBack="True">
																						<ASP:LISTITEM Selected="True" Value="-1">(Cualquier Tipo de 
                              Prestamo)</ASP:LISTITEM>
																						<ASP:LISTITEM Value="0">Todos los productos</ASP:LISTITEM>
																						<ASP:LISTITEM Value="1">Un producto</ASP:LISTITEM>
																						<ASP:LISTITEM Value="2">Conjunto de 
                              productos</ASP:LISTITEM>
																					</cc1:combobox></TD>
																			</TR>
																			<TR>
																				<TD height="2" background="imagenes/formdivmed.jpg" colSpan="2" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
																			</TR>
																			<TR>
																				<TD style="WIDTH: 20%; HEIGHT: 30px" vAlign="middle" background="imagenes/formfdofields.jpg"
																					align="right">
																					<asp:label id="lblCriaPrestaFil" runat="server" cssclass="titulo">Criador prestamista:</asp:label>&nbsp;</TD>
																				<TD vAlign="middle" background="imagenes/formfdofields.jpg">
																					<UC1:CLIE id="usrCriaPrestaFil" runat="server" AceptaNull="false" AutoPostBack="True" Ancho="800"
																						Tabla="Criadores" Saltos="1,2" FilSociNume="True" FilTipo="S" MuestraDesc="False" FilDocuNume="True"
																						MostrarBotones="False" CampoVal="Criador"></UC1:CLIE></TD>
																			</TR>
																			<TR>
																				<TD height="2" background="imagenes/formdivmed.jpg" colSpan="2" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
																			</TR>
																			<TR>
																				<TD style="WIDTH: 20%; HEIGHT: 30px" vAlign="middle" background="imagenes/formfdofields.jpg"
																					align="right">
																					<asp:label id="lblCriaPrestataFil" runat="server" cssclass="titulo">Criador prestatario:</asp:label>&nbsp;</TD>
																				<TD vAlign="middle" background="imagenes/formfdofields.jpg">
																					<UC1:CLIE id="usrCriaPrestataFil" runat="server" AceptaNull="false" AutoPostBack="True" Ancho="800"
																						Tabla="Criadores" Saltos="1,2" FilSociNume="True" FilTipo="S" MuestraDesc="False" FilDocuNume="True"
																						MostrarBotones="False" CampoVal="Criador"></UC1:CLIE></TD>
																			</TR>
																			<TR>
																				<TD height="2" background="imagenes/formdivmed.jpg" colSpan="3" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
																			</TR>
																			<TR>
																				<TD height="15" background="imagenes/formfdofields.jpg" align="right">
																					<asp:label id="lblNroPrestamoFil" runat="server" cssclass="titulo">Nro.Prestamo:</asp:label>&nbsp;</TD>
																				<TD vAlign="middle" background="imagenes/formfdofields.jpg">
																					<CC1:NUMBERBOX id="txtNroPrestamoFil" runat="server" cssclass="cuadrotexto" Width="140px" AceptaNull="False"
																						maxvalor="999999999"></CC1:NUMBERBOX></TD>
																			</TR>
																			<TR>
																				<TD height="2" background="imagenes/formdivmed.jpg" colSpan="2" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
																			</TR>
																			<TR>
																				<TD style="WIDTH: 10%; HEIGHT: 25px" vAlign="top" background="imagenes/formfdofields.jpg"
																					align="right">
																					<asp:Label id="lblProdFil" runat="server" cssclass="titulo">Producto:</asp:Label>&nbsp;</TD>
																				<TD style="WIDTH: 80%; HEIGHT: 17px" background="imagenes/formfdofields.jpg">
																					<UC1:PROH id="usrProdFil" runat="server" AceptaNull="false" AutoPostBack="False" Ancho="800"
																						Tabla="productos" Saltos="1,2" FilTipo="S" MuestraDesc="True" EsPropietario="True"></UC1:PROH></TD>
																				<TD style="WIDTH: 10%; HEIGHT: 25px" vAlign="top" background="imagenes/formfdofields.jpg"
																					align="right">&nbsp;</TD>
																			</TR>
																			<TR>
																				<TD height="2" background="imagenes/formdivmed.jpg" colSpan="2" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
																			</TR>
																			<TR>
																				<TD style="WIDTH: 20%; HEIGHT: 30px" background="imagenes/formfdofields.jpg" align="right">
																					<asp:Label id="lblTipoReporte" runat="server" cssclass="titulo">Tipo Reporte:</asp:Label>&nbsp;</TD>
																				<TD style="WIDTH: 80%; HEIGHT: 30px" background="imagenes/formfdofields.jpg">
																					<cc1:combobox id="cmbTipoReporte" class="combo" runat="server" Width="200px" AceptaNull="False">
																						<ASP:LISTITEM>(Seleccione)</ASP:LISTITEM>
																						<ASP:LISTITEM Selected="True" Value="C">Completo</ASP:LISTITEM>
																					</cc1:combobox></TD>
																			</TR>
																			<TR>
																				<TD height="2" background="imagenes/formdivfin.jpg" colSpan="2"><IMG src="imagenes/formdivfin.jpg" width="1" height="2"></TD>
																			</TR>
																		</TABLE>
																	</TD>
																	<TD style="HEIGHT: 17px" background="imagenes/formde.jpg" width="2"><IMG border="0" src="imagenes/formde.jpg" width="2" height="2"></TD>
																</TR>
															</TABLE>
														</TD>
													</TR>
													<TR>
														<TD height="10" colSpan="3"></TD>
													</TR>
													<TR>
														<TD vAlign="top" colSpan="3" align="center">
															<asp:datagrid id="grdDato" runat="server" BorderStyle="None" BorderWidth="1px" width="100%" AllowPaging="True"
																HorizontalAlign="Center" CellSpacing="1" GridLines="None" CellPadding="1" OnPageIndexChanged="DataGrid_Page"
																OnEditCommand="mEditarDatos" AutoGenerateColumns="False">
																<FooterStyle CssClass="footer"></FooterStyle>
																<SelectedItemStyle Font-Size="X-Small"></SelectedItemStyle>
																<EditItemStyle Font-Size="X-Small" Wrap="False"></EditItemStyle>
																<AlternatingItemStyle CssClass="item"></AlternatingItemStyle>
																<ItemStyle Height="5px" CssClass="item2"></ItemStyle>
																<HeaderStyle Font-Size="X-Small" Height="20px" CssClass="header"></HeaderStyle>
																<Columns>
																	<asp:TemplateColumn>
																		<HeaderStyle Width="2%"></HeaderStyle>
																		<ItemTemplate>
																			<asp:LinkButton id="Linkbutton6" runat="server" Text="Editar" CausesValidation="false" CommandName="Edit">
																				<img src='images/edit.gif' border="0" alt="Editar Registro" style="cursor:hand;" />
																			</asp:LinkButton>
																		</ItemTemplate>
																	</asp:TemplateColumn>
																	<asp:BoundColumn Visible="True" DataField="pstm_id" ReadOnly="True" HeaderText="Nro. Prestamo"></asp:BoundColumn>
																	<asp:BoundColumn DataField="_Prestamista" ReadOnly="True" HeaderText="Prestamista">
																		<HeaderStyle Width="30%"></HeaderStyle>
																	</asp:BoundColumn>
																	<asp:BoundColumn DataField="_Prestatario" ReadOnly="True" HeaderText="Prestatario">
																		<HeaderStyle Width="30%"></HeaderStyle>
																	</asp:BoundColumn>
																	<asp:BoundColumn DataField="_tipo" ReadOnly="True" HeaderText="Tipo">
																		<HeaderStyle Width="10%"></HeaderStyle>
																	</asp:BoundColumn>
																	<asp:BoundColumn DataField="_sexo" ReadOnly="True" HeaderText="Sexo">
																		<HeaderStyle Width="10%"></HeaderStyle>
																	</asp:BoundColumn>
																	<asp:BoundColumn DataField="_sra_nume" ReadOnly="True" HeaderText="HBA">
																		<HeaderStyle Width="10%"></HeaderStyle>
																	</asp:BoundColumn>
																	<asp:BoundColumn DataField="_rp" ReadOnly="True" HeaderText="RP">
																		<HeaderStyle Width="10%"></HeaderStyle>
																	</asp:BoundColumn>
																	<asp:BoundColumn DataField="_pref_nombre" ReadOnly="True" HeaderText="Pref-Producto">
																		<HeaderStyle Width="20%"></HeaderStyle>
																	</asp:BoundColumn>
																	<asp:BoundColumn DataField="_cantidad" ReadOnly="True" HeaderText="Cant.">
																		<HeaderStyle Width="5%"></HeaderStyle>
																	</asp:BoundColumn>
																	<asp:BoundColumn DataField="pstm_inic_fecha" ReadOnly="True" HeaderText="F.desde" DataFormatString="{0:dd/MM/yyyy}">
																		<HeaderStyle Width="7%"></HeaderStyle>
																	</asp:BoundColumn>
																	<asp:BoundColumn DataField="pstm_fina_fecha" ReadOnly="True" HeaderText="F.hasta" DataFormatString="{0:dd/MM/yyyy}">
																		<HeaderStyle Width="7%"></HeaderStyle>
																	</asp:BoundColumn>
																	<asp:BoundColumn DataField="_pstd_fina_fecha" ReadOnly="True" HeaderText="F.hasta Detallada" DataFormatString="{0:dd/MM/yyyy}">
																		<HeaderStyle Width="7%"></HeaderStyle>
																	</asp:BoundColumn>
																	<asp:BoundColumn DataField="_estado" ReadOnly="True" HeaderText="Estado del Prestamo">
																		<HeaderStyle Width="10%"></HeaderStyle>
																	</asp:BoundColumn>
																</Columns>
																<PagerStyle Font-Size="X-Small" HorizontalAlign="Right" CssClass="pager" Mode="NumericPages"></PagerStyle>
															</asp:datagrid></TD>
													</TR>
												</TABLE>
											</asp:panel></TD>
									</TR>
									<!---fin filtro --->
									<tr>
										<TD colSpan="3" height="10"></TD>
									</tr>
									<TR>
										<TD align="left"><CC1:BOTONIMAGEN id="btnAgre" runat="server" BorderStyle="None" ForeColor="Transparent" ImageOver="btnNuev2.gif"
												ImageBoton="btnNuev.gif" BtnImage="edit.gif" OutImage="del.gif" CambiaValor="False" ImagesUrl="imagenes/"
												IncludesUrl="includes/" BackColor="Transparent" ImageUrl="imagenes/btnImpr.jpg" ToolTip="Agregar un Nuevo Prestamo"
												ImageDisable="btnNuev0.gif"></CC1:BOTONIMAGEN></TD>
										<TD align="right"></TD>
										<TD align="right" width="100%"><CC1:BOTONIMAGEN id="btnList" runat="server" BorderStyle="None" ForeColor="Transparent" ImageOver="btnImpr2.gif"
												ImageBoton="btnImpr.gif" BtnImage="edit.gif" OutImage="del.gif" CambiaValor="False" ImagesUrl="imagenes/" IncludesUrl="includes/"
												BackColor="Transparent" ImageUrl="imagenes/btnImpr.jpg"></CC1:BOTONIMAGEN></TD>
									</TR>
									<tr>
										<TD colSpan="3" height="10"></TD>
									</tr>
									<TR>
										<TD align="center" colSpan="3"><asp:panel id="panSolapas" runat="server" cssclass="titulo" Visible="False" width="100%" Height="124%">
												<TABLE id="TablaSolapas" border="0" cellSpacing="0" cellPadding="0" width="100%" runat="server">
													<TR>
														<TD style="WIDTH: 0.24%"><IMG border="0" src="imagenes/tab_a.bmp" width="9" height="27"></TD>
														<TD background="imagenes/tab_b.bmp"><IMG border="0" src="imagenes/tab_b.bmp" width="8" height="27"></TD>
														<TD width="1"><IMG border="0" src="imagenes/tab_c.bmp" width="31" height="27"></TD>
														<TD background="imagenes/tab_fondo.bmp" width="1">
															<asp:linkbutton style="TEXT-ALIGN: center; TEXT-DECORATION: none" id="lnkGeneral" runat="server"
																cssclass="solapa" Width="80px" Height="21px" Font-Bold="True" CausesValidation="False"> Prestamo</asp:linkbutton></TD>
														<TD width="1"><IMG border="0" src="imagenes/tab_f.bmp" width="27" height="27"></TD>
														<TD background="imagenes/tab_fondo.bmp" width="1">
															<asp:linkbutton style="TEXT-ALIGN: center; TEXT-DECORATION: none" id="lnkDetalle" runat="server"
																cssclass="solapa" Width="80px" Height="21px" CausesValidation="False"> Detalle</asp:linkbutton></TD>
														<TD width="1"><IMG border="0" src="imagenes/tab_fondo_fin.bmp" width="31" height="27"></TD>
													</TR>
												</TABLE>
											</asp:panel></TD>
									</TR>
									<TR>
										<TD vAlign="top" align="center" colSpan="3"><asp:panel id="panDato" runat="server" cssclass="titulo" BorderWidth="1px" BorderStyle="Solid"
												Visible="False" width="100%" Height="116px">
												<TABLE style="WIDTH: 100%; HEIGHT: 106px" id="Table2" class="FdoFld" border="0" cellPadding="0"
													align="left">
													<TR>
														<TD style="WIDTH: 100%" vAlign="top" align="right">
															<asp:imagebutton id="btnClose" runat="server" ImageUrl="images\Close.bmp" ToolTip="Cerrar" CausesValidation="False"></asp:imagebutton></TD>
													</TR>
													<TR>
														<TD height="2" background="imagenes/formdivmed.jpg" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
													</TR>
													<TR>
														<TD style="WIDTH: 100%">
															<asp:panel id="panGeneral" runat="server" cssclass="titulo" Width="100%">
																<TABLE style="WIDTH: 100%" id="TablaGeneral" border="0" cellPadding="0" align="left">
																	<TR>
																		<TD background="imagenes/formfdofields.jpg" align="right">
																			<asp:Label id="lblFechaPresentacion" runat="server" cssclass="titulo">Fecha Presentación:</asp:Label>&nbsp;</TD>
																		<TD style="HEIGHT: 17px" background="imagenes/formfdofields.jpg">
																			<cc1:DateBox id="txtFechaPresentacion" runat="server" cssclass="cuadrotexto" Width="68px" Obligatorio="true"></cc1:DateBox>&nbsp;&nbsp;
																		</TD>
																	</TR>
																	<TR>
																		<TD height="2" background="imagenes/formdivmed.jpg" colSpan="2" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
																	</TR>
																	<TR>
																		<TD align="right">
																			<asp:Label id="lblEstadoPrestamo" runat="server" cssclass="titulo">Estado del Prestamo:&nbsp;</asp:Label></TD>
																		<TD>
																			<cc1:combobox id="cmbEsta" class="combo" runat="server" cssclass="cuadrotexto" Width="180px"></cc1:combobox></TD>
																	</TR>
																	<TR>
																		<TD height="2" background="imagenes/formdivmed.jpg" colSpan="2" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
																	</TR>
																	<TR>
																		<TD style="WIDTH: 20%; HEIGHT: 30px" background="imagenes/formfdofields.jpg" align="right">
																			<asp:Label id="lblTipoMovimientoPrestamo" runat="server" cssclass="titulo">Estado del Prestamo:</asp:Label>&nbsp;</TD>
																		<TD style="WIDTH: 80%; HEIGHT: 30px" background="imagenes/formfdofields.jpg">
																			<cc1:combobox id="cmbTipoMovimiento" class="combo" runat="server" Width="200px" AceptaNull="False">
																				<asp:ListItem Value="P" Selected="True">Ingresado Activo</asp:ListItem>
																				<asp:ListItem Value="X">Ingresado Finalizado</asp:ListItem>
																				<asp:ListItem Value="N">Anulado</asp:ListItem>
																				<asp:ListItem Value="R">Ingresado Retenido</asp:ListItem>
																			</cc1:combobox></TD>
																	</TR>
																	<TR>
																		<TD height="2" background="imagenes/formdivmed.jpg" colSpan="2" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
																	</TR>
																	<TR>
																		<TD style="WIDTH: 20%; HEIGHT: 30px" vAlign="top" align="right">
																			<asp:Label id="lblNroPrestamo" runat="server" cssclass="titulo">Nro. Prestamo:</asp:Label>&nbsp;</TD>
																		<TD vAlign="middle">
																			<CC1:NUMBERBOX id="txtNroPrestamo" runat="server" cssclass="cuadrotexto" Width="65px" AceptaNull="False"
																				maxvalor="999999" Enabled="False"></CC1:NUMBERBOX></TD>
																	</TR>
																	<TR>
																		<TD height="2" background="imagenes/formdivmed.jpg" colSpan="2" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
																	</TR>
																	<TR>
																		<TD style="WIDTH: 20%; HEIGHT: 30px" vAlign="middle" align="right">
																			<asp:label id="lblCriaPresta" runat="server" cssclass="titulo">Criador prestamista:</asp:label>&nbsp;</TD>
																		<TD vAlign="middle">
																			<UC1:CLIE id="usrCriaPresta" runat="server" AceptaNull="false" AutoPostBack="False" Ancho="800"
																				Tabla="Criadores" Saltos="1,2" FilSociNume="True" FilTipo="S" MuestraDesc="False" FilDocuNume="True"
																				MostrarBotones="False" CampoVal="Criador"></UC1:CLIE></TD>
																	</TR>
																	<TR>
																		<TD height="2" background="imagenes/formdivmed.jpg" colSpan="2" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
																	</TR>
																	<TR>
																		<TD style="WIDTH: 20%; HEIGHT: 30px" vAlign="middle" align="right">
																			<asp:label id="lblFechaDesde" runat="server" cssclass="titulo">Fecha desde:&nbsp;</asp:label>&nbsp;</TD>
																		<TD vAlign="middle">
																			<cc1:DateBox id="txtFechaDesde" runat="server" cssclass="cuadrotexto" Width="70px"></cc1:DateBox></TD>
																	</TR>
																	<TR>
																		<TD height="2" background="imagenes/formdivmed.jpg" colSpan="2" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
																	</TR>
																	<TR>
																		<TD style="WIDTH: 20%; HEIGHT: 30px" vAlign="middle" align="right">
																			<asp:label id="lblFechaHasta" runat="server" cssclass="titulo">Fecha hasta:&nbsp;</asp:label>&nbsp;</TD>
																		<TD vAlign="middle">
																			<cc1:DateBox id="txtFechaHasta" runat="server" cssclass="cuadrotexto" Width="70px"></cc1:DateBox></TD>
																	</TR>
																	<TR>
																		<TD height="2" background="imagenes/formdivmed.jpg" colSpan="2" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
																	</TR>
																	<TR>
																		<TD style="WIDTH: 20%; HEIGHT: 30px" vAlign="middle" align="right">
																			<asp:Label id="lblTipo" runat="server" cssclass="titulo">Tipo:</asp:Label>&nbsp;</TD>
																		<TD vAlign="middle">
																			<cc1:combobox id="cmbTipo" class="combo" runat="server" Width="208px" AceptaNull="False" NomOper="rg_tramites_tipos_cargar"
																				Obligatorio="true" AutoPostBack="True">
																				<ASP:LISTITEM Value="0">Todos los productos</ASP:LISTITEM>
																				<ASP:LISTITEM Value="1">Un producto</ASP:LISTITEM>
																				<ASP:LISTITEM Value="2">Conjunto de 
                        productos</ASP:LISTITEM>
																			</cc1:combobox></TD>
																	</TR>
																	<TR>
																		<TD height="2" background="imagenes/formdivmed.jpg" colSpan="2" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
																	</TR>
																	<TR>
																		<TD style="WIDTH: 20%; HEIGHT: 30px" vAlign="middle" align="right">
																			<asp:label id="lblCriaPrestata" runat="server" cssclass="titulo">Criador prestatario:</asp:label>&nbsp;</TD>
																		<TD vAlign="middle">
																			<UC1:CLIE id="usrCriaPrestata" runat="server" AceptaNull="false" AutoPostBack="True" Ancho="800"
																				Tabla="Criadores" Saltos="1,2" FilSociNume="True" FilTipo="S" MuestraDesc="False" FilDocuNume="True"
																				MostrarBotones="False" CampoVal="Criador"></UC1:CLIE></TD>
																	</TR>
																	<TR>
																		<TD height="2" background="imagenes/formdivmed.jpg" colSpan="2" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
																	</TR>
																	<TR>
																		<TD style="WIDTH: 20%; HEIGHT: 30px" vAlign="top" align="right">
																			<asp:Label id="lblObse" runat="server" cssclass="titulo">Observaciones:</asp:Label>&nbsp;</TD>
																		<TD vAlign="middle">
																			<CC1:TEXTBOXTAB id="txtObse" runat="server" cssclass="cuadrotexto" Width="450px" Height="50px" TextMode="MultiLine"
																				EnterPorTab="False" MaxLength="20"></CC1:TEXTBOXTAB></TD>
																	</TR>
																</TABLE>
															</asp:panel></TD>
													</TR>
													<TR>
														<TD style="WIDTH: 100%">
															<asp:panel id="panDetalle" runat="server" cssclass="titulo" Visible="False" Width="100%">
																<TABLE style="WIDTH: 100%" id="TablaDetalle" border="0" cellPadding="0" align="left">
																	<TR>
																		<TD vAlign="top" colSpan="2" align="center">
																			<asp:datagrid id="grdDetalle" runat="server" Visible="False" BorderStyle="None" BorderWidth="1px"
																				width="100%" AllowPaging="True" HorizontalAlign="Center" CellSpacing="1" GridLines="None"
																				CellPadding="1" OnPageIndexChanged="DataGridDeta_Page" OnEditCommand="mEditarDatosDeta" AutoGenerateColumns="False"
																				OnItemDataBound="mActualizarGrilla">
																				<FooterStyle CssClass="footer"></FooterStyle>
																				<SelectedItemStyle Font-Size="X-Small"></SelectedItemStyle>
																				<EditItemStyle Font-Size="X-Small" Wrap="False"></EditItemStyle>
																				<AlternatingItemStyle CssClass="item"></AlternatingItemStyle>
																				<ItemStyle Height="5px" CssClass="item2"></ItemStyle>
																				<HeaderStyle Font-Size="X-Small" Height="20px" CssClass="header"></HeaderStyle>
																				<Columns>
																					<asp:TemplateColumn>
																						<HeaderStyle Width="2%"></HeaderStyle>
																						<ItemTemplate>
																							<asp:LinkButton id="Linkbutton2" runat="server" Text="Editar" CausesValidation="false" CommandName="Edit">
																								<img src='images/edit.gif' border="0" alt="Editar Registro" style="cursor:hand;" />
																							</asp:LinkButton>
																						</ItemTemplate>
																					</asp:TemplateColumn>
																					<asp:BoundColumn Visible="False" DataField="pstd_id" ReadOnly="True" HeaderText="Nro. Detalle Embargo"></asp:BoundColumn>
																					<asp:BoundColumn DataField="_producto" ReadOnly="True" HeaderText="Producto">
																						<HeaderStyle Width="50%"></HeaderStyle>
																					</asp:BoundColumn>
																					<asp:BoundColumn Visible="False" DataField="_RazaId" ReadOnly="True" HeaderText="RazaId"></asp:BoundColumn>
																					<asp:BoundColumn DataField="_sexo" ReadOnly="True" HeaderText="Sexo"></asp:BoundColumn>
																					<asp:BoundColumn DataField="_estado" ReadOnly="True" HeaderText="Estado"></asp:BoundColumn>
																					<asp:TemplateColumn HeaderText="Prestado">
																						<HeaderStyle Width="3%"></HeaderStyle>
																						<ItemTemplate>
																							<asp:CheckBox ID="chkSelect" AutoPostBack="True" Checked="True" Runat="server" OnCheckedChanged="chkSelCheck_OnCheckedChanged"></asp:CheckBox>
																							<DIV runat="server" id="divCuot" style="DISPLAY: none"><%#(DataBinder.Eval(Container, "DataItem._POS"))%></DIV>
																						</ItemTemplate>
																					</asp:TemplateColumn>
																					<asp:BoundColumn Visible="False" DataField="_pos" ReadOnly="True" HeaderText="pos"></asp:BoundColumn>
																					<asp:BoundColumn DataField="pstd_fina_fecha" ReadOnly="True" HeaderText="Fecha Finalizaci&#243;n"
																						DataFormatString="{0:dd/MM/yyyy}"></asp:BoundColumn>
																					<asp:TemplateColumn HeaderText="Ver Errores">
																						<ItemTemplate>
																							<asp:Button runat="server" Text="Ver Errores" CommandName="Select" CausesValidation="false"></asp:Button>
																						</ItemTemplate>
																					</asp:TemplateColumn>
																					<asp:BoundColumn Visible="False" DataField="pstd_prdt_id" ReadOnly="True" HeaderText="pstd_prdt_id"></asp:BoundColumn>
																				</Columns>
																				<PagerStyle Font-Size="X-Small" HorizontalAlign="Right" CssClass="pager" Mode="NumericPages"></PagerStyle>
																			</asp:datagrid></TD>
																	</TR> <!--	<TR >
																		<TD style="WIDTH: 10%; HEIGHT: 25px" vAlign="top" background="imagenes/formfdofields.jpg"
																			align="right">
																			<asp:Label id="lblProdFilDeta" runat="server" cssclass="titulo">Producto:</asp:Label>&nbsp;</TD>
																		<TD style="WIDTH: 80%; HEIGHT: 17px" background="imagenes/formfdofields.jpg">
																			<UC1:PROH id="usrProdFilDeta" runat="server" AceptaNull="false" AutoPostBack="False" MuestraDesc="True"
																				FilTipo="S" Saltos="1,2" Tabla="productos" Ancho="800" EsPropietario="True"></UC1:PROH></TD>
																		<TD style="WIDTH: 10%; HEIGHT: 25px" vAlign="top" background="imagenes/formfdofields.jpg"
																			align="right">&nbsp;</TD>
																	</TR>-->
																	<TR>
																		<TD height="2" background="imagenes/formdivmed.jpg" colSpan="2" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
																	</TR>
																	<TR>
																		<TD style="WIDTH: 20%" align="right">
																			<asp:Label id="lblRP" runat="server" cssclass="titulo">Filtrar por RP:</asp:Label>&nbsp;</TD>
																		<TD>
																			<CC1:TEXTBOXTAB id="txtRPBusq" runat="server" cssclass="cuadrotexto" Width="170px"></CC1:TEXTBOXTAB>&nbsp;
																		</TD>
																	</TR>
																	<TR>
																		<TD style="WIDTH: 20%" align="right">
																			<asp:Label id="lblHBA" runat="server" cssclass="titulo">Filtrar por HBA:</asp:Label>&nbsp;</TD>
																		<TD>
																			<CC1:TEXTBOXTAB id="txtHBABusq" runat="server" cssclass="cuadrotexto"></CC1:TEXTBOXTAB>&nbsp;
																		</TD>
																	</TR>
																	<TR>
																		<TD style="WIDTH: 20%" align="right">
																			<asp:Label id="lblSexoBusq" runat="server" cssclass="titulo">Filtrar por Sexo:</asp:Label>&nbsp;</TD>
																		<TD background="imagenes/formfdofields.jpg">
																			<cc1:combobox id="cmbSexoBusq" class="combo" runat="server" AceptaNull="true">
																				<asp:ListItem Selected="True" value="">(Todos)</asp:ListItem>
																				<asp:ListItem Value="0">Hembra</asp:ListItem>
																				<asp:ListItem Value="1">Macho</asp:ListItem>
																			</cc1:combobox></TD>
																	</TR>
																	<TR>
																		<TD background="imagenes/formfdofields.jpg" align="right">
																			<asp:Label id="lblFechaFinal" runat="server" cssclass="titulo">Fecha Final:</asp:Label>&nbsp;</TD>
																		<TD style="HEIGHT: 17px" background="imagenes/formfdofields.jpg">
																			<cc1:DateBox id="txtFechaFinalProducto" runat="server" cssclass="cuadrotexto" Width="68px"></cc1:DateBox>&nbsp;&nbsp;
																		</TD>
																	</TR>
																	<TR>
																		<TD colSpan="2" align="center">
																			<asp:Label id="lblBajaDeta" runat="server" cssclass="titulo" ForeColor="Red"></asp:Label></TD>
																	</TR>
																	<TR height="30">
																		<TD colSpan="2" align="center">
																			<asp:Button id="btnFiltrar" runat="server" cssclass="boton" Width="167px" CausesValidation="False"
																				Text="Filtrar"></asp:Button>
																			<asp:Button id="btnSeleccionarTodos" runat="server" cssclass="boton" Width="167px" CausesValidation="False"
																				Text="Seleccionar Todos"></asp:Button>
																			<asp:Button id="btnDeSeleccionarTodos" runat="server" cssclass="boton" Width="167px" CausesValidation="False"
																				Text="Desmarcar Todos"></asp:Button>
																			<asp:Button id="btnModiDeta" runat="server" cssclass="boton" Width="167px" Height="21px" CausesValidation="False"
																				Text="Modificar Fecha Finalización"></asp:Button></TD>
																	</TR>
																	<TR>
																		<TD colSpan="2" align="center">
																			<asp:Label id="lblSeleccionados" runat="server" cssclass="titulo" ForeColor="Brown"></asp:Label>
																			<asp:Label id="lblTotalProductos" runat="server" cssclass="titulo" ForeColor="Black"></asp:Label>
																			<asp:Label id="lblTotalPrestados" runat="server" cssclass="titulo" ForeColor="Red"></asp:Label>
																			<asp:Label id="lblTotalActivos" runat="server" cssclass="titulo" ForeColor="Blue"></asp:Label>
																			<asp:Label id="lblTotalDevuelto" runat="server" cssclass="titulo" ForeColor="Green"></asp:Label>
																			<asp:Label id="lblTotalRetenidos" runat="server" cssclass="titulo" ForeColor="Orange"></asp:Label></TD>
																	</TR>
																	<TR>
																		<TD style="HEIGHT: 1px" background="imagenes/formdivmed.jpg" colSpan="2" align="right"><IMG src="imagenes/formdivmed.jpg" width="1" height="2"></TD>
																	</TR>
																</TABLE>
															</asp:panel></TD>
													</TR>
												</TABLE>
											</asp:panel><ASP:PANEL id="panBotones" Runat="server">
												<TABLE width="100%">
													<TR>
														<TD align="center"><A id="editar" name="editar"></A>
															<asp:Label id="lblBaja" runat="server" cssclass="titulo" ForeColor="Red"></asp:Label></TD>
													</TR>
													<TR height="30">
														<TD align="center">
															<asp:Button id="btnAlta" runat="server" cssclass="boton" Width="80px" Text="Alta"></asp:Button>&nbsp;
															<asp:Button id="btnBaja" runat="server" cssclass="boton" Width="80px" CausesValidation="False"
																Text="Baja"></asp:Button>&nbsp;
															<asp:Button id="btnModi" runat="server" cssclass="boton" Width="80px" CausesValidation="False"
																Text="Modificar"></asp:Button>&nbsp;
															<asp:Button id="btnLimp" runat="server" cssclass="boton" Width="80px" CausesValidation="False"
																Text="Limpiar"></asp:Button>&nbsp;
														</TD>
													</TR>
												</TABLE>
											</ASP:PANEL>
											<DIV></DIV>
										</TD>
									</TR>
								</TBODY>
							</TABLE>
							<!--- FIN CONTENIDO ---></td>
						<td width="13" background="imagenes/recde.jpg"><IMG height="10" src="imagenes/recde.jpg" width="13" border="0"></td>
					</tr>
					<tr>
						<td width="9"><IMG height="15" src="imagenes/recinfiz.jpg" width="9" border="0"></td>
						<td background="imagenes/recinf.jpg"><IMG height="15" src="imagenes/recinf.jpg" width="13" border="0"></td>
						<td width="13"><IMG height="15" src="imagenes/recinfde.jpg" width="13" border="0"></td>
					</tr>
				</TBODY>
			</table>
			<!----------------- FIN RECUADRO ----------------->
			<DIV style="DISPLAY: none"><ASP:TEXTBOX id="lblMens" runat="server"></ASP:TEXTBOX>
				<asp:textbox id="hdnPage" runat="server"></asp:textbox>
				<asp:textbox id="hdnId" runat="server"></asp:textbox>
				<asp:textbox id="hdnValidar" runat="server"></asp:textbox>
				<asp:textbox id="hdnDetaId" runat="server"></asp:textbox>
				<asp:textbox id="hdnCriaCodi" runat="server"></asp:textbox>
				<asp:textbox id="hdnCriaId" runat="server"></asp:textbox>
				<asp:textbox id="hdnRazaId" runat="server"></asp:textbox>
				<asp:textbox id="lblAltaId" runat="server"></asp:textbox>
				<asp:textbox id="lblAlta" runat="server"></asp:textbox>
			</DIV>
			<script language="JavaScript">
				if (document.all('lblAltaId')!=null && document.all('lblAltaId').value!='')
				{
					alert('Se ha asignado el nro de Prestamo '+document.all('lblAltaId').value);
					document.all('lblAltaId').value = '';
				}
				
			</script>
		</form>
		<SCRIPT language="javascript">
		if (document.all["editar"]!= null)
			document.location='#editar';
		
		mDetalle();
		try
		{
		 mSetearProducto();
		} catch(e){} 
		
	
		</SCRIPT>
		</TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></FORM>
	</BODY>
</HTML>
