<%@ Reference Page="~/FormGenerico.aspx" %>
<%@ Page Language="vb" AutoEventWireup="false" Inherits="SRA.Migrated_top" CodeFile="top.aspx.vb" %>
<HTML>
	<TITLE>SRA</TITLE>
	<LINK href="stylesheet/sra.css" type="text/css" rel="stylesheet">
		<body topmargin="0" class="headertop">
			<TABLE id="Table1" cellSpacing="0" style="FONT-SIZE:7pt" cellPadding="0" width="100%" border="0"
				align="center" class="titulo">
				<TR>
					<TD width="30%" align="center"><asp:Label id="lblTitUser" runat="server">Usuario:</asp:Label>
						&nbsp;
						<asp:Label id="lblUser" runat="server" Font-Bold="True" Height="4px"></asp:Label></TD>
					<TD noWrap width="40%" align="center"><asp:Label id="Label1" runat="server">Base de Datos:</asp:Label>&nbsp;
						<asp:Label id="lblBase" runat="server" Font-Bold="True" Height="4px"></asp:Label></TD>
					<TD noWrap width="30%" align="center"><asp:Label id="Label2" runat="server">Fecha:</asp:Label>
						<asp:Label id="lblDate" runat="server" Font-Bold="True" Height="4px"></asp:Label></TD>
				</TR>
			</TABLE>
		</body>
</HTML>
