<%@ Reference Page="~/FormGenerico.aspx" %>
<%@ Page Language="vb" AutoEventWireup="false" Inherits="SRA.AvesDefault" CodeFile="default.aspx.vb" %>
<HTML>
	<HEAD>
		<TITLE>SRA</TITLE>
	</HEAD>
	<frameset border="0" framespacing="0" frameborder="0" rows="30,15,*">
		<frame name="head" src="../header.aspx" frameborder="0" noresize scrolling="no" target="top">
		<frame name="top" src="../top.aspx" frameborder="0" noresize scrolling="no" target="menu">
		<frameset border="0" framespacing="0" frameborder="0" cols="160,*">
			<frame name="menu" src="menu.aspx" frameborder="0" noresize scrolling="auto" target="menu">
			<frame name="main" src="../main.aspx" frameborder="0" noresize scrolling="auto" target="main"
				marginheight="0" marginwidth="0">
		</frameset>
	</frameset>
</HTML>
