<%@ Register TagPrefix="anthem" Namespace="Anthem" Assembly="Anthem" %>
<%@ Control Language="vb" AutoEventWireup="false" Inherits="SRA.comboCustom" CodeFile="comboCustom.ascx.vb" %>
<anthem:Panel id="Panel1" runat="server">
	<asp:TextBox id="TextBox1" runat="server" AutoPostBack="True"></asp:TextBox>
	<asp:DropDownList id="DropDownList1" runat="server"></asp:DropDownList>
	<asp:Label id="Label1" runat="server">Label</asp:Label>
</anthem:Panel>
