<%@ Page Language="vb" AutoEventWireup="false" Inherits="SRA.ReportViewer" CodeFile="ReportViewer.aspx.vb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>ReportViewer</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
  <body>
    </form>
     <form id="Form2" runat="server">
		<div style="width:100% ; height:100%">
		<asp:DropDownList ID="cmbPrinters" Runat="server" />
     </div>
    </form>

  </body>
</html>
